<div class="wrapper mat-app-background">
    <img src="assets/img/common/Sketch_1.svg" alt="HealthyLife Logo" height="175">
    <span id="title"><b>Healthy</b> Life</span>
    <div class="action-container">
        <a mat-flat-button color="accent" href="https://health.damascus-engineering.com:3000/api/v1/connect/facebook"><img src="assets/img/common/facebook.png" alt="Fb logo" height="24" width="24" style="margin-right: 4px;"> <b>Continuar con Facebook</b></a>
        <a mat-raised-button id="google" href="https://health.damascus-engineering.com:3000/api/v1/connect/google"><img src="assets/img/common/google.svg" alt="G logo" height="24" width="24" style="margin-right: 4px;"> <b>Iniciar sesión con Google</b></a>
    </div>
</div>